<div class="container mt-5">
    <h2>Welcome to the Task Manager</h2>
    <p>Please log in or sign up to manage your tasks.</p>
  
    <div class="d-flex justify-content-center mt-4">
      <a href="/login" class="btn btn-primary me-3">Login</a>
      <a href="/signup" class="btn btn-success">Sign Up</a>
    </div>
  </div>